/* CSS Sheet */

.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(0, 0, 0);
    width: 480px;
    height: 680px;
    border-radius: 12px;
    padding: 16px;
}

.result {
    width: 480px;
    height: 120px;
    background-color: rgb(31, 29, 29);
    border-radius: 12px;
    
}

.buttons {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    
}

.delete, .clear {
    box-sizing: border-box;
    width: 232px;
    height: 60px;
    font-size: 40px;
    font-family: "SF Pro";
    background-color: rgb(31, 29, 29);
    color: rgb(227, 70, 70);
    border-radius: 8px;
    margin-top: 16px; 
    border: none;
}

.clear {
    margin-left: 16px;
}

.small-button {
    height: 88px;
    width: 88px;
    font-size: 40px;
    font-family: "SF Pro";
    color: white;
    background-color: rgb(31, 29, 29);
    border-radius: 50%;
    margin: 16px;
    border: none;
    
}

.plus, .subtract, .multiply, .divide {
    color: chocolate;
}

.equals {
    color: chartreuse;
}